body {
  font-family: Consolas, monospace;
  background-color: #111;
  color: #eee;
  padding: 20px;
}

h1 {
  color: #0af;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #555;
}

th, td {
  padding: 8px;
  text-align: left;}
  
a {
  color: #0af;
}
