{% extends 'HomepageSetup.html' %}

{% block head %}
    <title>Blackbird</title>

    <!--Option 2-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homestyle2.css') }}">
{% endblock %}

{% block body %}



<div class="img">
    <div class="images">
     <!--Change Background to what we chose-->
    <img src="{{ url_for('static', filename='Pictures/Untitled7_20251209075801.PNG') }}" alt="class" class="room"> <!--  <------------------------------------- work on this picture, maybe add a background -->
</div>
<div class="Buttom">
    <a href="/search" class="text">Search</a>
</div>
</div>



{% endblock %}

